<h1 class="h3 mb-3"><%= @todo_list.name %></h1>

<div id="complete_all_button">
  <% if @todo_list.todo_items.any? %>
    <%= button_to "Complete all",
          complete_all_todo_list_todo_items_path(@todo_list),
          method: :post,
          class: "btn btn-success btn-sm mb-3",
          data: { turbo_confirm: "Are you sure you want to complete #{@todo_list.todo_items.count} tasks?" } %>
  <% end %>
</div>

<div id="todo_items">
  <% if @todo_list.todo_items.any? %>
    <ul class="list-group mb-3">
      <%= render @todo_list.todo_items %>
    </ul>
  <% else %>
    <p class="text-muted mb-3">No tasks listed</p>
  <% end %>
</div>

<div class="d-flex gap-2">
  <%= link_to 'Add Item', new_todo_list_todo_item_path(@todo_list), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Back', todo_lists_path, class: 'btn btn-outline-secondary btn-sm' %>
</div>
