<%= link_to 'Back', todo_lists_path %>

<div>
  <h1><%= @todo_list.name %></h1>

  <ul>
    <% @todo_list.todo_items.each do |item| %>
      <li>
        <span style="<%= 'text-decoration: line-through;' if item.completed %>"><%= item.description %></span>
        <%= link_to 'Complete', todo_list_todo_item_path(@todo_list, item), data: { turbo_method: :patch } unless item.completed %>
        <%= link_to 'Edit', edit_todo_list_todo_item_path(@todo_list, item) %>
        <%= link_to 'Delete', todo_list_todo_item_path(@todo_list, item), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this item?' } %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Add Item', new_todo_list_todo_item_path(@todo_list) %>
</div>
