<!DOCTYPE html>
<html>
  <head>
    <title>RailsInterview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <div class="container">
        <%= link_to "Todo Lists", todo_lists_path, class: "navbar-brand" %>
      </div>
    </nav>

    <div class="container">
      <div id="flash_messages">
        <%= render "shared/flash" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
